@model Client

@{
    ViewData["Title"] = "Müşteri Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Müşteri Detayları: @Model.Name</h2>
        <a href="javascript:void(0);" onclick="history.back();" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Geri Dön
        </a>
    </div>

    @await Component.InvokeAsync("_CardClientViewComponentPartial", new { clientId = Model.Id, returnUrl = "Client/ClientDetails" })


    <h4 class="mt-4 mb-3">Araçlar</h4>
    <div class="table-responsive shadow rounded">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Araç Adı</th>
                    <th>Plaka</th>
                    <th>Servis Kayıtları</th>
                    <th>Oluşturulma</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vehicle in Model.Vehicles)
                {
                    <tr>
                        <td>@vehicle.Name</td>
                        <td>@vehicle.Plate</td>
                        <td>@vehicle.ServiceRecords.Count()</td>
                        <td>@vehicle.CreatedDate.ToString("dd.MM.yyyy")</td>
                        <td>
                            <a class="btn btn-info btn-sm" asp-action="VehicleDetails" asp-controller="Vehicle" asp-route-vehicleId="@vehicle.Id">Düzenle</a>
                        </td>
                    </tr>
                }
                @if (!Model.Vehicles.Any())
                {
                    <tr class="table-warning">
                        <td colspan="5" class="text-center">Bu müşteriye ait araç bulunmamaktadır.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
