@using OtoTamir.WEBUI.Services
@model Vehicle

<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Uygulanan İşlem</th>
            <th>Açıklama</th>
            <th>Fiyat</th>
            <th>Son Güncelleme Tarihi</th>
            <th>Durum</th>
            <th>Yazar</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var record in Model.ServiceRecords)
        {
            <tr>
                <td>@record.CreatedDate</td>
                <td>@record.Name</td>
                <td>@record.Description</td>
                <td>@record.Price</td>
                <td>@record.ModifiedDate</td>
                <td>
                <td>
                    @* Tek satırda hem rengi hem yazıyı hallediyoruz *@
                    <span class="badge @record.Status.ToBadgeClass()">
                        @record.Status.ToTurkish()
                    </span>
                </td>
                </td>
                <td>@record.AuthorName</td>
            </tr>
        }
    </tbody>
</table>
