@model ListClientDTO
@{
    ViewData["Title"] = "Yeni İşlem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["Message"]
    </div>
}
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-header d-flex justify-content-between align-items-center">
                
                <div>
                    <form method="post" asp-action="GetVehiclesByClientId">
                    <label for="clientSelect" class="form-label">Müşteri Seç</label>
                    <select class="form-select d-inline w-auto me-2" id="clientSelect" name="SelectedClientId">
                        <option selected disabled>Müşteri Seçiniz</option>
                        @foreach(var item in Model.Clients)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }                      
                    </select>
                    <button class="btn btn-primary" type="submit">
                        Listele
                    </button>
                    </form>

                    
                </div>
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createClientModal">
                    <i class="bi bi-plus-circle"></i> Yeni Müşteri Ekle
                </a>
                
            </div>

            
        </div>

        @if (Model.Clients.FirstOrDefault(i=> i.Id==Model.SelectedClientId) is var selectedClient && selectedClient != null)
        {
            <div class="card card-info">
                <div class="card-header">
                    <h5 class="card-title">Müşteri Bilgileri</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Ad Soyad</dt>
                        <dd class="col-sm-9">@selectedClient.Name</dd>

                        <dt class="col-sm-3">Telefon</dt>
                        <dd class="col-sm-9">@selectedClient.PhoneNumber</dd>

                        <dt class="col-sm-3">Bakiye</dt>
                        <dd class="col-sm-9">@selectedClient.Balance</dd>

                        <dt class="col-sm-3">Kayıtlı Araç Sayısı</dt>
                        <dd class="col-sm-9">
                            <div>
                            @selectedClient.Vehicles.Count
                            <row class="m-2">
                                <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#createVehicleModal-@Model.SelectedClientId">
                                Araç Ekle
                                </button>
                                </row>
                            </div>
                        </dd>
                        
                    </dl>
                </div>
            </div>
        }
       
        
        @if (Model.SelectedClientId != null)
        {
            @await Component.InvokeAsync("_ListVehicleViewComponentPartial", Model.SelectedClientId)

            <div class="modal fade" id="createVehicleModal-@Model.SelectedClientId" tabindex="-1" aria-labelledby="createVehicleModalLabel" aria-hidden="true">
                @await Component.InvokeAsync("_CreateVehicleViewComponentPartial", new CreateVehicleDTO { ClientId = Model.SelectedClientId, ReturnUrl = "ServiceRecord/Index" })
            </div>

        }
        
       
       
    </div>
    <div class="modal fade" id="createClientModal" tabindex="-1" aria-labelledby="createClientModalLabel" aria-hidden="true">
        @await Component.InvokeAsync("_CreateClientViewComponentPartial","/ServiceRecord/Index")
    </div>
</section>


}
