@using OtoTamir.CORE.Utilities
@model dynamic
@{
    
    var pagedResult = Model as dynamic;

 
    var queryParams = new Dictionary<string, string>();
    foreach (var key in Context.Request.Query.Keys)
    {
        if (key != "page") 
        {
            queryParams[key] = Context.Request.Query[key];
        }
    }
}

@if (pagedResult != null && pagedResult.PageCount > 1)
{
    <div class="card-footer clearfix">
        <div class="float-left text-muted small">
            Toplam <strong>@pagedResult.RowCount</strong> kayıt, <strong>@pagedResult.PageCount</strong> sayfa.
        </div>

        <ul class="pagination pagination-sm m-0 float-right shadow-sm">
            <li class="page-item @(pagedResult.CurrentPage == 1 ? "disabled" : "")">
                @{
                    queryParams["page"] = (pagedResult.CurrentPage - 1).ToString();
                }
                <a class="page-link" href="@Url.Action(null, queryParams)">«</a>
            </li>

            @for (int i = 1; i <= pagedResult.PageCount; i++)
            {
                if (i == 1 || i == pagedResult.PageCount || (i >= pagedResult.CurrentPage - 2 && i <= pagedResult.CurrentPage + 2))
                {
                    <li class="page-item @(i == pagedResult.CurrentPage ? "active" : "")">
                        @{
                            queryParams["page"] = i.ToString();
                        }
                        <a class="page-link" href="@Url.Action(null, queryParams)">@i</a>
                    </li>
                }
                else if (i == pagedResult.CurrentPage - 3 || i == pagedResult.CurrentPage + 3)
                {
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                }
            }

            <li class="page-item @(pagedResult.CurrentPage == pagedResult.PageCount ? "disabled" : "")">
                @{
                    queryParams["page"] = (pagedResult.CurrentPage + 1).ToString();
                }
                <a class="page-link" href="@Url.Action(null, queryParams)">»</a>
            </li>
        </ul>
    </div>
}