@model List<Client>
@{
    ViewData["Title"] = "Müşteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Müşteri Listesi</h2>
        <!-- Buton -->
        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addClientModal">
            <i class="bi bi-plus-circle"></i> Yeni Müşteri Ekle
        </a>

    </div>
    @if (TempData["Message"] != null)
    {
        <div class="alert alert-warning" role="alert">
            @TempData["Message"]
        </div>
    }
    <div class="table-responsive shadow rounded">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-primary">
                <tr>
                    <th>Ad Soyad</th>
                    <th>Telefon</th>
                    <th>Bakiye</th>
                    <th>Notlar</th>
                    <th>Oluşturulma</th>
                    <th>Silinme</th>
                    <th>Güncellenme</th>
                    <th>İşlemler</th>
                    <th>Araçlar</th>
                    <th>Araç işlemleri</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Balance ₺</td>
                        <td>@item.Notes</td>
                        <td>@item.CreatedDate.ToString("dd.MM.yyyy")</td>
                        <td>@(item.DeletedDate?.ToString("dd.MM.yyyy") ?? "-")</td>
                        <td>@item.ModifiedDate.ToString("dd.MM.yyyy")</td>
                        
                        <td>
                            <!-- İşlemler Menüsünde -->
                            <div class="btn-group" role="group">
                                <button class="btn btn-sm btn-warning" data-bs-toggle="modal" data-bs-target="#editClientModal-@item.Id">Düzenle</button>
                                <a asp-action="DeleteClient" asp-asp-controller="Home" asp-route-id="@item.Id" class=" btn btn-danger">Sil</a>
                            </div>

                        </td>
                        <td>                           

                            @if (item.Vehicles.Count > 0)
                            {
                                foreach (var vehicle in item.Vehicles.Take(5).ToList())
                                {
                                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@vehicle.Id">@vehicle.Plate</a>

                                }
                                if (item.Vehicles.Count > 5)
                                {
                                    <span class="text-muted">...</span>
                                }
                            }
                        </td>
                        <td>
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addVehicleModal-@item.Id">
                                Araç Ekle
                            </button>
                        </td>
                    </tr>
                    <div class="modal fade" id="addVehicleModal-@item.Id" tabindex="-1" aria-labelledby="addVehicleModalLabel-@item.Id" aria-hidden="true">
                        @await Component.InvokeAsync("_CreateVehicleViewComponentPartial", item.Id)
                    </div>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="addClientModal" tabindex="-1" aria-labelledby="addClientModalLabel" aria-hidden="true">
    @await Component.InvokeAsync("_CreateClientViewComponentPartial")
</div>
